div.siimple-content.siimple-content--extra-large
  div.siimple-grid
    div.siimple-grid-row
      div.siimple-grid-col.siimple-grid-col--4.siimple-grid-col--sm-12
        div.siimple-h2 Feature 1
        div.siimple-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        div.siimple-btn.siimple-btn--primary(style="margin-bottom:15px;") More info
      div.siimple-grid-col.siimple-grid-col--4.siimple-grid-col--sm-12
        div.siimple-h2 Feature 2
        div.siimple-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        div.siimple-btn.siimple-btn--primary(style="margin-bottom:15px;") More info
      div.siimple-grid-col.siimple-grid-col--4.siimple-grid-col--sm-12
        div.siimple-h2 Feature 3
        div.siimple-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        div.siimple-btn.siimple-btn--primary(style="margin-bottom:15px;") More info
    div.siimple-grid-row
      div.siimple-grid-col.siimple-grid-col--4.siimple-grid-col--sm-12
        div.siimple-h2 Feature 4
        div.siimple-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        div.siimple-btn.siimple-btn--primary(style="margin-bottom:15px;") More info
      div.siimple-grid-col.siimple-grid-col--4.siimple-grid-col--sm-12
        div.siimple-h2 Feature 5
        div.siimple-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        div.siimple-btn.siimple-btn--primary(style="margin-bottom:15px;") More info
      div.siimple-grid-col.siimple-grid-col--4.siimple-grid-col--sm-12
        div.siimple-h2 Feature 6
        div.siimple-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        div.siimple-btn.siimple-btn--primary(style="margin-bottom:15px;") More info

  div.siimple-rule
