header
  div.siimple-navbar.siimple-navbar--extra-large.siimple-navbar--dark
    a.siimple-navbar-title(href="#") Title&nbsp;
    a.siimple-navbar-item(href="#") home
    a.siimple-navbar-item(href="#") about us
  div.siimple-jumbotron.siimple-jumbotron--extra-large.siimple-jumbotron-light
    div.siimple-jumbotron-title Super Books
    div.siimple-jumbotron-detail 4:00 AM
